    h1 {
        color: #333;
    }

    p {
        font-size: 16px;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        font-size: 95%;
    }
    *{
        font-size: 25px;
    }
    
    
    
    .login-button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .loginthing
    {
        text-align: right;
    }
    .button-conatiner
    {
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  position:absolute;
  top: 55%;
  left: 10%;
    }
.dropdown
{
  width: 100px;
  height: 40px;
  top: 35%;
  left: 10%;
  position:absolute;
  font-size: 90%;
}
.usrn {
  position: absolute;
  height: 15px;

  top: 2%;
  left: 78%;
  
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;

}